body {
  margin: 0px;
  padding: 0px;
}

div#head {
  background-color: aqua;
  max-width: 100%;
  height: 50px;
  padding: 10px;
}
div#head h3 {
  color: brown;
  background-color: green;
  border: soild rgb(255, 115, 0);
  width: fit-content;
  margin-top: 10px;

  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pretag {
  width: 300px;
  overflow: auto;
}
pre {
  width: 800px;
  height: 100px;
  background-color: aquamarine;
}

@keyframes example {
  from {
    background-color: green;
  }
  to {
    background-color: beige;
  }
  0% {
    left: 200px;
    top: 0px;
  }
}

#progress-bar {
  width: 600px;
  height: 24px;
  border: solid;
  border-width: thin;
  margin: 10px;
  background-color: blue;
}
.progress {
  width: 20px;
  height: 24px;
  position: absolute;
  background-color: black;
  animation-name: prog;
  animation-duration: 5s;
}

@keyframes prog {
  0% {
    /* left: 0px;
    right: 100px; */
    width: 100px;
  }
  15% {
    /* left: 100px;
    right: 200px; */
    width: 200px;
  }
  30% {
    /* left: 200px;
    right: 300px; */
    width: 300px;
  }
  45% {
    /* left: 300px;
    right: 400px; */
    width: 400px;
  }
  60% {
    /* left: 400px;
    right: 500px; */
    width: 500px;
  }
  75% {
    /* left: 500px;
    right: 600px; */
    width: 600px;
  }
  100% {
    /* left: 500px;
    right: 600px; */
    width: 600px;
  }
}
