#container {
  background-color: aquamarine;
  width: 100%;
  /* text-align: center; */
}

#container h1 {
  font-size: 40px;
  font-style: normal;
  color: green;
}

#link-1,
#link-2,
#link-3,
#link-4 {
  font-size: 40px;
  font-style: oblique;
  text-decoration: none;
  color: red;
  text-align: center;
}

#link-1 :visited {
  color: blue;
}

#link-2:hover {
  color: green;
}
#link-2:active {
  color: blue;
}

#link-3:active {
  color: blue;
}
#link-4:link {
  color: pink;
}
